# Constrain to versions in the requirements.txt
-c requirements.txt

# Build / Test Dependencies
black
coverage
flake8
isort
pytest-django
pytest-mock

# Django formatting
djlint

# Django debugging
django-debug-toolbar

# Schema Generation
drf-jsonschema-serializer
