celery
django
django-allauth
django-celery-beat
django-constance
django-constance[database]
django-htmx
django-filter
django-tables2
django-widget-tweaks
docker
jsonschema
minio
pika
psycopg2
pydantic
pyyaml
redis
rapidfuzz

# drf and optional dependencies
djangorestframework
drf-spectacular
drf-spectacular[sidecar]
