celery
django
django-allauth
django-celery-beat
django-htmx
django-widget-tweaks
docker
jsonschema
pika
psycopg2
pydantic
pyyaml
redis

# drf and optional dependencies
djangorestframework
drf-spectacular
drf-spectacular[sidecar]
