{% csrf_token %}
{% with request.session.environment_id as environment_id %}
    <select id="env_select"
            name="environment_id"
            aria-label="Environment select"
            class="form-select form-select-md bg-primary text-light border-0"
            role="button"
            hx-trigger="change"
            hx-post="{% url 'ui:set-environment' %}"
            hx-swap="none">
        <option disabled value="-1">
            Choose
        </option>
        {% for team, envs in user_environments.items %}
            <optgroup label="{{ team }}">
                {% for env in envs %}
                    <option value="{{ env.id }}"
                            {% if environment_id == env.id|stringformat:'s' %}selected{% endif %}>
                        {{ env.name }}
                    </option>
                {% endfor %}
            </optgroup>
        {% endfor %}
    </select>
{% endwith %}
