{% load widget_tweaks %}
{# djlint: off #}
{% if add %}
    <div class="column is-three-quarters add_variable_form" hx-target="this" hx-swap="outerHTML">
{% else %}
    <td colspan="3" class="add_variable_form" hx-target="this" hx-swap="outerHTML">
{% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="columns is-multiline is-mobile">
                <div class="field column is-half">
                    <label class="{% if form.name.errors %}errors{% endif %} label" for={{ form.name.id_for_label }}>Name:
                    </label>
                    {% render_field form.name class="input" placeholder=form.name.name %}
                    {{ form.name.errors }}
                </div>
                <div class="field column is-half">
                    <label class="label" for={{ form.name.id_for_label }}>Protect:
                    </label>
                    {% render_field form.protect class="checkbox" %}
                </div>
                <div class="field column is-half">
                    <label class="label{% if form.description.errors %} errors{% endif %}" for={{ form.description.id_for_label }}>Description:
                    </label>
                    {% render_field form.description class="textarea" placeholder=form.description.name rows=4 %}
                    {{ form.description.errors }}
                </div>
                <div class="field column is-half">
                    <label class="{% if form.value.errors %}errors{% endif %} label" for={{ form.value.id_for_label }}>Value:
                    </label>
                    {% render_field form.value class="textarea" placeholder=form.value.name rows=4 %}
                    {{ form.value.errors }}
                </div>
            </div>
            {% if variable %}
                <button class="button" type="submit" onclick="disableVariableButtons(false)" hx-post="{% url 'ui:update-variable' variable.id parent_id %}">
                    Update
                </button>
                <button class="button" onclick="disableVariableButtons(false)" hx-get="{% url 'ui:detail-variable' pk=variable.id %}">
                    Cancel
                </button>
            {% else %}
                <button class="button" type="submit" onclick="disableVariableButtons(false)" hx-params="not environment, team" hx-post="{% url 'ui:add-variable' parent_id %}">
                    Add
                </button>
                <button id="remove_var_button" class="button" onclick="htmx.remove(htmx.closest(htmx.find('#remove_var_button'), '.add_variable_form')); disableVariableButtons(false)">
                    Cancel
                </button>
            {% endif %}
        </form>
{% if add %}
    </div>
{% else %}
    </td>
{% endif %}
{# djlint: on #}
