{% extends "partials/modal_old.html" %}

{% block modal_title %}
    Update User's Role
{% endblock %}

{% block modal_description %}
    Update user's role for this environment
{% endblock %}

{% block form_declaration %}
    <form hx-post="{% url 'ui:environmentuserrole-update' environmentuserrole.environment.id environmentuserrole.id %}" method="post"
        hx-swap="outerHTML" 
        hx-target="#form-modal">
{% endblock %}

{% block modal_content %}
{% csrf_token %}
<div class="columns is-multiline">
    {% if form.non_field_errors %}
    <div class="ml-3">
        {{ form.non_field_errors }}
    </div>
    {% endif %} 
    <div class="field column is-half">
        <label class="label" for="username-field">User:</label>
        <input id="username-field" class="input is-medium" disabled placeholder="{{ environmentuserrole.user.username }}"/>
        {% comment %} Username value needs to be in this hidden field, not in the above disabled field {% endcomment %}
        <input type="hidden" name="user" value="{{ environmentuserrole.user.username }}"/>
        <input type="hidden" name="environment" value="{{ environmentuserrole.environment.id }}"/>
        {{ form.user.errors }}
    </div>
    <div class="field column">
        <label class="{% if form.role.errors %}errors{% endif %} label" for="{{ form.role.id_for_label }}">Role:</label>
        <div class="select is-medium is-fullwidth">
            {{ form.role }}
        </div>
    </div>
</div>
{% endblock %}
 
{% block modal_footer %}
    <button class="button is-link is-medium" type="submit" value="Update Role">Update Role</button>
{% endblock %}

{% block form_end %}
</form>
{% endblock %}
