{% extends "partials/table.html" %}
{% block table_headers %}
    <th>Environment</th>
    <th>Team</th>
{% endblock table_headers %}
{% block table_rows %}
    {% for environment in page_obj %}
        <tr>
            <td>
                <a href="{% url 'ui:environment-detail' environment.id %}">{{ environment.name }}</a>
            </td>
            <td>
                <a href="{% url 'ui:team-detail' environment.team.id %}">{{ environment.team.name }}</a>
            </td>
        </tr>
    {% endfor %}
{% endblock table_rows %}
