{% extends "partials/modal.html" %}
{% block modal_title %}
    {% if process == "connect" %}
        Connect {{ provider.name }}
    {% else %}
        Sign in via {{ provider.name }}
    {% endif %}
{% endblock modal_title %}
{% block modal_description %}
    {% if process == "connect" %}
        <p>You are about to connect a new third party account from {{ provider.name }}.</p>
    {% else %}
        <p>You are about to sign in using a third party account from {{ provider.name }}.</p>
    {% endif %}
{% endblock modal_description %}
{% block modal_content %}
    <div class="content">
        <form method="post"  action="{{ request.path }}">
            {% csrf_token %}
            <button class="button is-link" type="submit">Continue</button>
        </form>
    </div>
{% endblock modal_content %}
{% block modal_nofooter %}
{% endblock modal_nofooter %}
