{% extends "base.html" %}
{% block content %}
    <div class="column is-full">
        <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'ui:environment-list' %}">Environment List</a>
                </li>
                <li class="is-active">
                    <a href="#">{{ environment.name }}</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="column">
        <div class="block">
            <h1 class="title is-1">
                <span class="icon"><i class="fa fa-building"></i></span>&nbsp;&nbsp;{{ environment.name }}
            </h1>
        </div>
        <div class="column has-addons">
            <div class="columns">
                <div class="column is-3">
                    <i class="fa fa-users"></i>&nbsp;{{ environment.team.name }}
                </div>
            </div>
            {% include 'partials/variables_section.html' with parent_object=environment parent_id=environment.id %}
            <div class="field">
                <label class="label" for="packages">
                    <i class="fa fa-cubes"></i>&nbsp;Packages:
                </label>
                <ul id="packages">
                    {% for package in packages %}
                        <li class="block ml-4">
                            <a href="{% url 'ui:package-detail' package.id %}">{{ package.name }}</a>
                            <br/>
                            {{ package.summary }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
