{% extends "base.html" %}
{% load static %}
{% load extras %}
{% block content %}
    <div class="column is-full">
        <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'ui:function-list' %}">Function List</a>
                </li>
                <li>
                    <span class="icon mr-0 ml-2"><i class="fa fa-cubes"></i></span><a class="pl-0" href="{% url 'ui:package-detail' function.package.id %}">{{ function.package.name }}</a>
                </li>
                <li class="is-active">
                    <a href="#">
                        {% if function.display_name %}
                            {{ function.display_name }}
                        {% else %}
                            {{ function.name }}
                        {% endif %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="column">
        <div class="block">
            <h1 class="title is-1">
                <p>
                    <i class="fa fa-cube"></i>
                    <span>
                        {% if function.display_name %}
                            {{ function.display_name }}
                        {% else %}
                            {{ function.name }}
                        {% endif %}
                    </span>
                </p>
            </h1>
        </div>
        {% if function.description %}
            <div class="field ml-4">
                <label class="label" for="desc">Description:</label>
                <div class="ml-4">
                    <span id="desc">{{ function.description }}</span>
                </div>
            </div>
        {% elif function.summary %}
            <div class="field ml-4">
                <label class="label" for="desc">Summary:</label>
                <div class="ml-4">
                    <span id="desc">{{ function.summary }}</span>
                </div>
            </div>
        {% endif %}
        {% if function.return_type %}
            <div class="field ml-4">
                <label class="label" for="desc">Return Type:</label>
                <span class="ml-4">{{ function.return_type }}</span>
            </div>
        {% endif %}
        {% if function.output_format %}
            <div class="field ml-4">
                <label class="label" for="desc">Output Format:</label>
                <span class="ml-4">{{ function.output_format }}</span>
            </div>
        {% endif %}
        {% if form %}
            <div class="field ml-4">
                <label class="label">Create Task:</label>
                <div class="has-background-white-ter ml-4">
                    <form id="djangoForm"
                          method="post"
                          action="{% url 'ui:function-execute' %}">
                        {% csrf_token %}
                        <input type="hidden" name="function_id" value="{{ function.id }}"/>
                        <div class="column has-addons">
                            {{ form.non_field_errors }}
                            {{ form }}
                            {% if missing_variables %}
                                <div class="field ml-4 missing-variables has-background-danger-light has-text-danger">
                                    <span>Tasking this function may not work as expected; the following variables are missing:</span>
                                    <ul>
                                        {% for missing in missing_variables %}
                                            <li>
                                                <span>{{ missing }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <input class="button {% if missing_variables %}is-warning{% else %}is-link{% endif %}"
                                   type="submit"
                                   value="Execute"/>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
        <div class="pt-3 ml-4">
            <details class="pl-1" {% if not form %}open{% endif %}>
                <summary class="has-text-weight-bold">
                    Schema:
                </summary>
                <div class="p-4">
                    <pre class="has-background-link-light">{{ function.schema | pretty_json }}</pre>
                </div>
            </details>
        </div>
    </div>
{% endblock content %}
