{% extends "base.html" %}
{% load static %}
{% load extras %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="text-decoration-none" href="{% url 'ui:function-list' %}">Function List</a>
            </li>
            <li class="breadcrumb-item">
                <i class="fa fa-cubes"></i>
                <a class="text-decoration-none"
                   href="{% url 'ui:package-detail' function.package.id %}">{{ function.package.render_name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ function.render_name }}</li>
        </ol>
    </nav>
    <h1 class="pt-2 pb-4">
        <i class="fa fa-cube fa-xl"></i>
        <span>{{ function.render_name }}</span>
    </h1>
    <div class="vstack gap-4 py-2">
        {% if not function.active %}
            <div class="alert alert-warning text-center" role="alert">
                <i class="fa fa-triangle-exclamation"></i>
                This function is currently inactive
            </div>
        {% endif %}
        {% if function.description %}
            <div>
                <strong class="fs-4"><i class="fa fa-newspaper fa-sm fa-fw pe-1"></i>Description</strong>
                <p class="ps-4 py-2">{{ function.description }}</p>
            </div>
        {% elif function.summary %}
            <div>
                <strong class="fs-4"><i class="fa fa-rectangle-list fa-sm fa-fw pe-1"></i>Summary</strong>
                <p class="ps-4 py-2">{{ function.summary }}</p>
            </div>
        {% endif %}
        {% if function.return_type %}
            <div>
                <strong class="fs-4"><i class="fa fa-right-from-bracket fa-sm fa-fw pe-1"></i>Return Type</strong>
                <p class="ps-4 py-2">{{ function.return_type }}</p>
            </div>
        {% endif %}
        {% if form is not None %}
            <div>
                {% if function.active %}
                    <strong class="fs-4"><i class="fa fa-pencil-alt fa-sm fa-fw pe-1"></i>Create Task</strong>
                    <div class="ps-4 py-2">
                        <div class="row">
                            <div class="col-5">
                                <form id="taskCreateForm"
                                      method="post"
                                      action="{% url 'ui:function-execute' %}"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="function_id" value="{{ function.id }}"/>
                                    {{ form.non_field_errors }}
                                    {{ form }}
                                </form>
                            </div>
                        </div>
                        {% if missing_variables %}
                            <div class="alert alert-danger">
                                <p>Tasking this function may not work as expected; the following variables are missing:</p>
                                <ul>
                                    {% for missing in missing_variables %}<li>{{ missing }}</li>{% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <button class="btn {% if missing_variables %}btn-warning{% else %}btn-primary{% endif %}"
                                type="submit"
                                form="taskCreateForm">
                            Execute
                        </button>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <details {% if not form %}open{% endif %}>
            <summary class="has-text-weight-bold">
                Schema:
            </summary>
            <div class="p-4">
                <ol class="px-1 json-container wrap-json" id="json-result" />
                <pre class="has-background-link-light">{{ function.schema | pretty_json }}</pre>
            </div>
        </details>
    </div>
    <script data-task-result="{{ function.schema | pretty_json }}">
        var parsed_result = JSON.parse(document.currentScript.dataset.taskResult)
        var result_element = document.getElementById('json-result')
        result_element.innerHTML = prettyPrintJson.toHtml(parsed_result, {"quoteKeys": true})
    </script>
{% endblock content %}
