{% extends "base.html" %}

{% block content %}

<div class="column is-full">
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'ui:package-list' %}">Package List</a></li>
            <li class="is-active"><a href="#">{{ package.name }}</a></li>
        </ul>
    </nav>
</div>
<div class="column">
    <div class="block">
        <h1 class="title is-1">
            <span class="icon"><i class="fa fa-cubes"></i></span>&nbsp;&nbsp;{{ package.name }}
        </h1>
    </div>
    <div class="column has-addons" >
        <div class="columns">
            <div class="column is-3">
                <i class="fa fa-users"></i>&nbsp;{{ object.environment.team.name }}
            </div>
        </div>
        <div class="field">
            <label class="label" for="funcs"><i class="fa fa-cube"></i>&nbsp;Functions:</label>
            <ul id="funcs">
                {% for function in functions %}
                <li class="block ml-4">
                    <a href="{% url 'ui:function-detail' function.id %}">{{ function.name }}</a><br/>{{ function.description }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}
