{% extends "base.html" %}
{% block content %}
    <div class="table-container">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                {% for package in page_obj %}
                    <tr>
                        <td>
                            <a href="{% url 'ui:package-detail' package.id %}">{{ package.render_name }}</a>
                        </td>
                        <td>{{ package.summary }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "partials/pagination_navbar.html" with page_obj=page_obj paginator=paginator %}
{% endblock content %}
