{% extends "base.html" %}
{% block content %}
    {% with package.active_functions as functions %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'ui:package-list' %}">Package List</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ package.render_name }}</li>
            </ol>
        </nav>
        <h1 class="pt-2 pb-4">
            <i class="fa fa-cubes"></i>
            {{ package.render_name }}
        </h1>
        <div class="vstack gap-4 py-2">
            {% if package.description %}
                <div>
                    <strong class="fs-4"><i class="fa fa-newspaper fa-sm fa-fw pe-1"></i>Description</strong>
                    <p class="ps-4 py-2">{{ package.description }}</p>
                </div>
            {% elif package.summary %}
                <div>
                    <strong class="fs-4"><i class="fa fa-rectangle-list fa-sm fa-fw pe-1"></i>Summary</strong>
                    <p class="ps-4 py-2">{{ package.summary }}</p>
                </div>
            {% endif %}
            <div>
                <strong class="fs-4"><i class="fa fa-cube fa-sm fa-fw pe-1"></i>Functions</strong>
                <div class="ps-4">
                    <div id="funcs" class="list-group">
                        {% for function in functions %}
                            <a href="{% url 'ui:function-detail' function.id %}"
                               class="list-group-item list-group-item-action">{{ function.render_name }}</a>
                            <p class="ms-4">{{ function.summary }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock content %}
