{% extends "base.html" %}
{% load static %}
{% block content %}
    <div>
        <div class="level-right">
            <a href="{% url 'ui:create-schedule' %}">
                <button class="button level-item is-link mt-5 mb-5">
                    <span class="icon is-small">
                        <i class="fa fa-solid fa-plus"></i>
                    </span>
                    <span>Create New Scheduled Task</span>
                </button>
            </a>
        </div>
    </div>
    {% include "partials/schedules/list.html" %}
    {% include "partials/pagination_navbar.html" with page_obj=page_obj paginator=paginator %}
{% endblock content %}
