{% extends "base.html" %}
{% load static %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ui:scheduledtask-list' %}">Schedules List</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ scheduledtask.name }}</li>
        </ol>
    </nav>
    <div class="hstack gap-3 pt-2 pb-4">
        <h1>
            <i class="fa fa-clock"></i>
            {{ scheduledtask.name }}
        </h1>
        <i class="fa fa-pencil-alt fa-lg text-info singletonActive"
           type="button"
           title="Edit"
           hx-target="body"
           hx-swap="beforeend"
           hx-get="{% url 'ui:scheduledtask-update' scheduledtask.id %}?id={{ workflow.id }}"></i>
    </div>
    {% if scheduledtask.description %}
        <div>
            <strong class="fs-4"><i class="fa fa-newspaper fa-sm fa-fw pe-1"></i>Description</strong>
            <p class="ps-4 py-2">{{ scheduledtask.description }}</p>
        </div>
    {% endif %}
    <div class="vstack gap-2 py-2">
        <div>
            <strong class="fs-4"><i class="fa fa-user fa-sm fa-fw pe-1"></i>Creator</strong>
            <p class="ps-4 py-2">
                {{ scheduledtask.creator.first_name }} {{ scheduledtask.creator.last_name }} <span class="text-muted">({{ scheduledtask.creator.username }})</span>
                at {{ scheduledtask.created_at }}
            </p>
        </div>
        <div>
            <strong class="fs-4"><i class="fa fa-calendar fa-sm fa-fw pe-1"></i>Crontab</strong>
            <span class="font-monospace px-2"
                  id="status-color"
                  title="{{ scheduledtask.status }}">
                <i class="fa fa-heart-pulse fa-xs pe-1"></i>{{ scheduledtask.status }}
            </span>
            <p class="ps-4 py-2">{{ scheduledtask.periodic_task.crontab }}</p>
        </div>
        <div>
            <strong class="fs-4"><i class="fa fa-cube fa-sm fa-fw pe-1"></i>Function</strong>
            <p class="ps-4 py-2">
                <a href="{% url 'ui:function-detail' scheduledtask.function.id %}">{{ scheduledtask.function.render_name }}</a>
            </p>
        </div>
        <div>
            <strong class="fs-4"><i class="fa fa-list fa-sm fa-fw pe-1"></i>Parameters</strong>
            <p class="font-monospace ps-4 py-2" id="params">{{ scheduledtask.parameters | pprint }}</p>
        </div>
        <div>
            <strong class="fs-4"><i class="fa fa-clock-rotate-left fa-sm fa-fw pe-1"></i>Recent History</strong>
            <div class="ps-4 py-2 table-container">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th>Ran at</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in history %}
                            <tr>
                                <td>
                                    <a href="{% url 'ui:task-detail' task.id %}">{{ task.created_at }}</a>
                                </td>
                                <td>{{ task.status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
