{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary mb-3"
           role="button"
           href="{% url 'ui:scheduledtask-create' %}">
            <i class="fa fa-solid fa-plus"></i>
            <span>Create New Scheduled Task</span>
        </a>
    </div>
    {% if filter %}
        {% include "partials/list_filter.html" %}
    {% endif %}
    {% include "partials/table.html" %}
{% endblock content %}
