{% extends "base.html" %}
{% block content %}
    <div class="table-container mt-5">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Team</th>
                </tr>
            </thead>
            <tbody>
                {% for team in page_obj %}
                    <tr>
                        <td>
                            <a href="{% url 'ui:team-detail' team.id %}">{{ team.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "partials/pagination_navbar.html" with page_obj=page_obj paginator=paginator %}
{% endblock content %}
