{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-end">
        {% if request.session.user_can_create_workflow %}
            <button class="btn btn-primary mb-3"
                    hx-target="body"
                    hx-swap="beforeend"
                    hx-get="{% url 'ui:workflow-create' %}">
                <i class="fa fa-solid fa-plus"></i>
                <span>Create New Workflow</span>
            </button>
        {% else %}
            <!--add a spacer when the button is not present-->
            <div class="mb-5"></div>
        {% endif %}
    </div>
    {% if filter %}
        {% include "partials/list_filter.html" %}
    {% endif %}
    {% include "partials/table.html" %}
{% endblock content %}
