{% extends "base.html" %}
{% block content %}
    <div>
        <div class="level-right">
            {% if request.session.user_can_create_workflow %}
                <button class="button level-item is-link mb-5 mt-5"
                        hx-target="body"
                        hx-swap="beforeend"
                        hx-get="{% url 'ui:workflow-create' %}">
                    <span class="icon is-small">
                        <i class="fa fa-solid fa-plus"></i>
                    </span>
                    <span>Create New Workflow</span>
                </button>
            {% else %}
                <!--add a spacer when the button is not present-->
                <div class="mb-5"></div>
            {% endif %}
        </div>
        <div class="table-container">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Creator</th>
                    </tr>
                </thead>
                <tbody>
                    {% for workflow in page_obj %}
                        <tr>
                            <td>
                                <a href="{% url 'ui:workflow-detail' workflow.id %}">{{ workflow.name }}</a>
                            </td>
                            <td>{{ workflow.description }}</td>
                            <td>{{ workflow.creator.username }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include "partials/pagination_navbar.html" with page_obj=page_obj paginator=paginator %}
{% endblock content %}
