
{% extends "partials/modal_old.html" %}

{% block modal_title %}
    Update User's Role
{% endblock %}

{% block modal_description %}
    Update user's role for the team.
{% endblock %}

{% block form_declaration %}
    <form hx-post="{% url 'ui:teamuserrole-update' teamuserrole.team.id teamuserrole.id %}" method="post" hx-swap="outerHTML" hx-target="#form-modal">
{% endblock %}

{% block modal_content %}
{% csrf_token %}
<div class="columns is-multiline">
    {% if form.non_field_errors %}
    <div class="ml-3">
        {{ form.non_field_errors }}
    </div>
    {% endif %} 
    <div class="field column is-half">
        <label class="label" for="username-field">User:</label>
        <input id="username-field" class="input is-medium" disabled placeholder="{{ teamuserrole.user.username }}"/>
        {% comment %} Username value needs to be in this hidden field, not in the above disabled field {% endcomment %}
        <input type="hidden" name="user" value="{{ teamuserrole.user.username }}"/>
        <input type="hidden" name="team" value="{{ teamuserrole.team.id }}"/>
        {{ form.user.errors }}
    </div>
    <div class="field column">
        <label class="{% if form.role.errors %}errors{% endif %} label" for="{{ form.role.id_for_label }}">Role:</label>
        <div class="select is-medium is-fullwidth">
            {{ form.role }}
        </div>
    </div>
</div>
{% endblock %}

{% block modal_footer %}
    {% if create_user %}
        <button class="button is-link is-medium" type="submit" value="Add User">Add User</button>
    {% else %}
        <button class="button is-link is-medium" type="submit" value="Update Role">Update Role</button>
    {% endif %}
{% endblock %}

{% block form_end %}
</form>
{% endblock %}
