{% if format_error is None %}
    <table id="result_table" class="table table-sm table-striped">
        <thead>
            <tr>
                {% for header in formatted_result.headers %}<th scope="col">{{ header }}</th>{% endfor %}
            </tr>
        </thead>
        <tbody class="table-group-divider text-break">
            {% for row in formatted_result.data %}
                <tr>
                    {% for col in row %}<td>{{ col }}</td>{% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div>{{ format_error }}</div>
{% endif %}
