{% if format_error is None %}
    <div class="table-container">
        <table id="result_table" class="table is-hoverable is-striped">
            <thead>
                <tr>
                    {% for header in formatted_result.headers %}<th>{{ header }}</th>{% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in formatted_result.data %}
                    <tr>
                        {% for col in row %}<td>{{ col }}</td>{% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div>{{ format_error }}</div>
{% endif %}
