{% load django_htmx %}
<div id="variable_section">
    <div class="field">
        <label class="label" for="variable_list">
            <i class="fa fa-tags"></i>&nbsp;Variables:
            <button class="button is-small has-text-link is-white singletonActive"
                    type="button"
                    onclick="disableVariableButtons(true)"
                    hx-post="{% url 'ui:add-variable' parent_id=parent_object.id %}?all=true"
                    hx-target="#variableforms"
                    hx-swap="innerHTML">
                <span class="fa fa-plus"/>
            </button>
        </label>
        <div id="variableforms" class="columns"></div>
        <div class="columns">
            <div class="column is-three-quarters">
                <table class="table is-striped is-fullwidth ml-4">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="variable_list"
                           hx-get="{% url 'ui:all-variables' parent_id=parent_id %}"
                           hx-trigger="newVariable from:body">
                        {% include "partials/variable_rows.html" with variables=variables parent_id=parent_id %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        // Allow toggling the disabled state of the buttons without fetching the whole page
        function disableVariableButtons(disable) {
            htmx.findAll('#variable_section .singletonActive').forEach(b => b.disabled = disable)
        }
    </script>
</div>
{% django_htmx_script %}
