<td>
    <span title="{{ variable.description }}">{{ variable.name }}</span>
</td>
<td class="pl-4">
    {% if not variable.protect %}
        <span>{{ variable.value }}</span>
    {% else %}
        <span class="fa fa-user-secret" title="Protected Value"/>
    {% endif %}
</td>
<td class="pl-4">
    {% if var_update %}
        <button class="button is-small has-text-info is-white singletonActive"
                type="button"
                title="Edit"
                onclick="disableVariableButtons(true)"
                hx-get="{% url 'ui:update-variable' pk=variable.id parent_id=parent_id %}">
            <span class="fa fa-pencil-alt"/>
        </button>
    {% endif %}
    {% if var_delete %}
        <button class="button is-small has-text-danger is-white"
                type="button"
                title="Delete"
                hx-confirm="Are you sure you want to delete {{ variable.name }}?"
                hx-target="closest tr"
                hx-swap="outerHTML swap:1s"
                hx-delete="{% url 'ui:delete-variable' variable.id %}">
            <span class="fa fa-trash"/>
        </button>
    {% endif %}
</td>
