{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="Functionary User Interface"/>
        <meta name="keywords" content="Functionary"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'favicon/favicon.ico' %}"/>
        <link rel="stylesheet"
              href="{% static 'css/custom_bootstrap.css' %}"
              type="text/css"/>
        <link rel="stylesheet"
              href="{% static 'css/fontawesome-6.2.1.min.css' %}"
              type="text/css"/>
        <link rel="stylesheet"
              href="{% static 'css/fontawesome-solid-6.2.1.min.css' %}"
              type="text/css"/>
        <link rel="stylesheet"
              href="{% static 'css/pretty-print-json-1.2.css' %}"
              type="text/css"/>
        <link rel="stylesheet"
              href="{% static 'css/functionary.css' %}"
              type="text/css"/>
        {% block extra_style %}
        {% endblock extra_style %}
        <title>
            {% block title %}
                Functionary
            {% endblock title %}
        </title>
        <script src="{% static 'js/htmx-1.8.4.min.js' %}"></script>
        <script src="{% static 'js/pretty-print-json-1.2.min.js' %}"></script>
        <!-- This script will run when the page loads and the menus are available -->
        <script src="{% static 'js/highlight-menu-item.js' %}" defer></script>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto px-lg-3 px-md-2 px-2 bg-primary shadow">
                    <div class="d-flex flex-column vh-100 sticky-top">
                        {% if user.is_authenticated %}
                            <nav class="navbar navbar-dark nav-pills flex-column mb-auto">
                                <a href="{% url 'ui:home' %}" class="navbar-brand">
                                    <h1 class="mb-0">
                                        <span class="display-2">F</span>
                                        <span class="functionary-title fs-4 d-none d-md-inline">unctionary</span>
                                    </h1>
                                </a>
                                <hr class="w-100" />
                                <div class="d-none d-md-inline">{% include "partials/env_selector.html" %}</div>
                                <div class="navbar-nav">
                                    <a class="nav-link px-0" href="{% url 'ui:task-list' %}">
                                        <i class="fa fa-lg fa-clipboard-list fa-fw"></i>
                                        <span class="ms-1 d-none d-md-inline">Tasking</span>
                                    </a>
                                    <a class="nav-link px-0" href="{% url 'ui:build-list' %}">
                                        <i class="fa fa-lg fa-wrench fa-fw"></i>
                                        <span class="ms-1 d-none d-md-inline">Builds</span>
                                    </a>
                                    <a class="nav-link px-0" href="{% url 'ui:package-list' %}">
                                        <i class="fa fa-lg fa-cubes fa-fw"></i>
                                        <span class="ms-1 d-none d-md-inline">Packages</span>
                                    </a>
                                    <a class="nav-link px-0" href="{% url 'ui:function-list' %}">
                                        <i class="fa fa-lg fa-cube fa-fw"></i>
                                        <span class="ms-1 d-none d-md-inline">Functions</span>
                                    </a>
                                    <a class="nav-link px-0" href="{% url 'ui:workflow-list' %}">
                                        <i class="fa fa-lg fa-diagram-next fa-fw"></i>
                                        <span class="ms-1 d-none d-md-inline">Workflows</span>
                                    </a>
                                    <a class="nav-link px-0" href="{% url 'ui:scheduledtask-list' %}">
                                        <i class="fa fa-lg fa-clock fa-fw"></i>
                                        <span class="ms-1 d-none d-md-inline">Schedules</span>
                                    </a>
                                    {% if user.is_superuser %}
                                        <a class="nav-link px-0" href="{% url 'ui:environment-list' %}">
                                            <i class="fa fa-lg fa-building fa-fw"></i>
                                            <span class="ms-1 d-none d-md-inline">Environments</span>
                                        </a>
                                        <a class="nav-link px-0" href="{% url 'ui:team-list' %}">
                                            <i class="fa fa-lg fa-users fa-fw"></i>
                                            <span class="ms-1 d-none d-md-inline">Teams</span>
                                        </a>
                                    {% endif %}
                                </div>
                            </nav>
                            <hr/>
                            <nav class="navbar navbar-dark nav-pills flex-column mb-2 pe-md-5">
                                <div class="navbar-nav">
                                    <a class="nav-link px-0" href="{% url 'socialaccount_connections' %}">
                                        <i class="fa fa-lg fa-user fa-fw"></i>
                                        <span class="ms-1 d-none d-md-inline">{{ user }}</span>
                                    </a>
                                    <form method="post" action="{% url 'account_logout' %}">
                                        {% csrf_token %}
                                        <button class="btn nav-link px-0" type="submit">
                                            <i class="fa fa-lg fa-door-open fa-fw"></i>
                                            <span class="ms-1 d-none d-md-inline">Logout</span>
                                        </button>
                                    </form>
                                </div>
                            </nav>
                        {% endif %}
                    </div>
                </div>
                <div class="col-11 col-md-9 col-xl-8 col-xxl-7 mx-1 mx-md-3 mx-lg-4 py-3">
                    {% if messages %}
                        {% include "partials/auth_messages.html" %}
                    {% endif %}
                    <div id="data_div"
                         hx-get="{{ request.get_full_path }}"
                         hx-trigger="reloadData from:body"
                         hx-select="#dataBlock"
                         hx-swap="innerHTML"
                         hx-swap-oob="true">
                        <div id="dataBlock" hx-disinherit="*">
                            {% block content %}
                            {% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // Show an error message when a bad status comes back from an HTMX call
            document.body.addEventListener('htmx:beforeOnLoad', (event) => {
                if (event.detail.xhr.status >= 400) {
                    alert(event.detail.xhr.responseText)
                }
            });
        </script>
    </body>
</html>
