{% load static %}
{% load socialaccount %}
{% load social_helper %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="Functionary Login"/>
        <meta name="keywords" content="Functionary"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet"
              href="{% static 'webfonts/Functionary_Playball.woff2' %}"/>
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'favicon/favicon.ico' %}"/>
        <link rel="stylesheet"
              href="{% static 'css/custom_bootstrap.css' %}"
              type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/brands.css' %}" type="text/css"/>
        <link rel="stylesheet"
              href="{% static 'css/fontawesome-6.2.1.min.css' %}"
              type="text/css"/>
        <link rel="stylesheet"
              href="{% static 'css/fontawesome-solid-6.2.1.min.css' %}"/>
        <link rel="stylesheet"
              href="{% static 'css/functionary.css' %}"
              type="text/css"/>
        <title>
            {% block title %}
                Functionary Login
            {% endblock title %}
        </title>
        <script src="{% static 'js/htmx-1.8.4.min.js' %}"></script>
    </head>
    <body class="bg-secondary">
        <div class="container p-2">
            <div class="row text-center text-primary mt-3">
                <h1>
                    <span class="display-1">F</span>
                    <span class="functionary-title">unctionary</span>
                </h1>
            </div>
            <div class="row mt-3">
                <div class="col"></div>
                <div class="col-6">
                    {% block content %}
                        {% if messages %}
                            {% include "partials/auth_messages.html" %}
                        {% endif %}
                        <div class="card shadow">
                            <h5 class="card-header text-light bg-primary">Please Sign in</h5>
                            <div class="card-body text-primary bg-body">
                                <form method="post" action="{% url 'account_login' %}" id="loginForm">
                                    {% csrf_token %}
                                    <div class="mb-1">
                                        <label for="id_login" class="form-label">Name</label>
                                        <input type="text"
                                               class="form-control"
                                               name="login"
                                               id="id_login"
                                               placeholder="Name"
                                               required
                                               value="{{ form.cleaned_data.login }}"/>
                                    </div>
                                    {{ form.login.errors }}
                                    <div class="mb-1">
                                        <label for="id_password" class="form-label">Password</label>
                                        <input type="password"
                                               class="form-control"
                                               name="password"
                                               id="id_password"
                                               required
                                               placeholder="Password"/>
                                    </div>
                                    {{ form.password.errors }}
                                </form>
                                {{ form.non_field_errors }}
                            </div>
                            <div class="card-footer text-center bg-body">
                                <button class="btn btn-success text-light" form="loginForm" type="submit">Sign In</button>
                            </div>
                        </div>
                    {% endblock content %}
                    {% block extracontent %}
                        {% configured_providers as socialaccount_providers %}
                        {% if socialaccount_providers %}
                            <div class="card shadow text-primary bg-body">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Or login with:</h5>
                                    <div class="row">
                                        {% for provider_pair in socialaccount_providers %}
                                            {% if provider_pair.provider.id == "openid" %}
                                                {% for brand in provider_pair.provider.get_brands %}
                                                    <div class="col">
                                                        {% csrf_token %}
                                                        {% comment %}The double class on here will default to openid's icon if the brand doesn't have one{% endcomment %}
                                                        <button title="{{ brand.name }}"
                                                                class="btn icon-{{ provider_pair.provider.id }} icon-{{ brand.id }}"
                                                                type="button"
                                                                hx-get="{% provider_login_url provider_pair.provider.id openid=brand.openid_url process=process %}">
                                                            {{ brand.name }}
                                                        </button>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <div class="col">
                                                    {% csrf_token %}
                                                    <button title="{{ provider_pair.name }}"
                                                            class="btn icon-{{ provider_pair.provider.id }}"
                                                            type="submit"
                                                            hx-target="#show_modal"
                                                            hx-swap="innerHTML"
                                                            hx-get="{% provider_login_url provider_pair.provider.id process=process scope=scope auth_params=auth_params %}">
                                                        {{ provider_pair.name }}
                                                    </button>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endblock extracontent %}
                    <div id="show_modal"></div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </body>
</html>
