<div id="workflow-steps" class="ps-4 py-2">
    <!--TODO: A table is not really suitable for this data. This is a placeholder-->
    <div id="tableSteps" class="table-container">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Function</th>
                    <th scope="col">Parameters</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="steps">
                {% for step in workflow.ordered_steps %}
                    <tr id="step-{{ step.id }}">
                        <td>
                            {% with previous=step.previous next=step.next %}
                                <div class="d-flex {% if previous is None %}justify-content-end{% elif next is None %}justify-content-start{% else %}justify-content-between{% endif %}">
                                    <button class="btn btn-small text-primary fa fa-chevron-up border-0"
                                            id="step-{{ step.id }}-move-up"
                                            type="button"
                                            title="Move Step Up"
                                            {% if previous is None %}hidden{% endif %}
                                            hx-post="{% url 'ui:workflowstep-move' workflow.pk step.pk %}"
                                            hx-target="#workflow-steps"
                                            hx-swap="outerHTML"
                                            hx-vals='{"next": "{{ previous.id }}"}'/>
                                    <button class="btn btn-small text-primary fa fa-chevron-down border-0"
                                            id="step-{{ step.id }}-move-down"
                                            type="button"
                                            title="Move Step Down"
                                            {% if next is None %}hidden{% endif %}
                                            hx-post="{% url 'ui:workflowstep-move' workflow.pk step.pk %}"
                                            hx-target="#workflow-steps"
                                            hx-swap="outerHTML"
                                            hx-vals='{"next": "{{ next.next.id }}"}'/>
                                </div>
                            {% endwith %}
                        </td>
                        <td>{{ step.name }}</td>
                        <td>{{ step.function }}</td>
                        <td class="json-container">{{ step.parameter_template }}</td>
                        <td>
                            <button class="btn btn-small text-success fa fa-plus"
                                    type="button"
                                    title="Add Step Below"
                                    hx-target="body"
                                    hx-swap="beforeend"
                                    hx-get="{% url 'ui:workflowstep-create' workflow.pk %}"
                                    hx-vals='{"next": "{{ step.next.id }}"}'/>
                            <button class="btn btn-small text-info fa fa-pencil-alt"
                                    type="button"
                                    title="Edit"
                                    hx-target="body"
                                    hx-swap="beforeend"
                                    hx-get="{% url 'ui:workflowstep-edit' workflow.pk step.pk %}"/>
                            <button class="btn btn-small text-danger fa fa-trash"
                                    type="button"
                                    title="Delete"
                                    hx-target="#workflow-steps"
                                    hx-swap="outerHTML"
                                    hx-delete="{% url 'ui:workflowstep-delete' workflow.pk step.pk %}"/>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary fa-plus"
            type="button"
            hx-target="body"
            hx-swap="beforeend"
            hx-get="{% url 'ui:workflowstep-create' workflow.pk %}">
        Add
    </button>
</div>
