{% extends "partials/table.html" %}
{% block table_headers %}
    <th>Created at</th>
    <th>Function</th>
    <th>Status</th>
    <th>Creator</th>
{% endblock table_headers %}
{% block table_rows %}
    {% for task in page_obj %}
        <tr>
            <td>
                <a href="{% url 'ui:task-detail' task.id %}">{{ task.created_at }}</a>
            </td>
            <td>
                <a href="{% url 'ui:function-detail' task.function.id %}">{{ task.function.name }}</a>
            </td>
            <td>{{ task.status }}</td>
            <td>{{ task.creator.username }}</td>
        </tr>
    {% endfor %}
{% endblock table_rows %}
