{% extends "partials/modal.html" %}
{% load widget_tweaks %}
{% block modal_title %}
    Workflow Parameter
{% endblock modal_title %}
{% block modal_content %}
    <form id="parameter-form"
          method="post"
          hx-post="{% if workflowparameter %}{% url 'ui:workflowparameter-edit' workflow.pk workflowparameter.pk %}{% else %}{% url 'ui:workflowparameter-create' workflow.pk %}{% endif %}"
          hx-target="#form-modal"
          hx-swap="outerHTML"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {% render_field form.name class="form-control" placeholder=form.name.label %}
            <div class="text-danger">{{ form.name.errors }}</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
            {% render_field form.description class="form-control" placeholder=form.description.label %}
            <div class="text-danger">{{ form.description.errors }}</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="{{ form.parameter_type.id_for_label }}">{{ form.parameter_type.label }}</label>
            {% render_field form.parameter_type class="form-select" aria-label=form.parameter_type.label %}
            <div class="text-danger">{{ form.parameter_type.errors }}</div>
        </div>
        <div class="mb-3">
            <label class="form-check-label" for="{{ form.required.id_for_label }}">{{ form.required.label }}</label>
            {% render_field form.required class="form-check-input" placeholder=form.required.label type="checkbox" %}
        </div>
        <input type="hidden" name="workflow" value="{{ workflow.id }}"/>
        {{ form.non_field_errors }}
    </form>
{% endblock modal_content %}
{% block modal_footer %}
    <button class="btn btn-primary"
            type="submit"
            form="parameter-form"
            value="Save">Save</button>
{% endblock modal_footer %}
