{% extends "partials/modal.html" %}
{% load widget_tweaks %}
{% block modal_title %}
    Workflow Step
{% endblock modal_title %}
{% block modal_content %}
    <form id="step-form"
          method="post"
          hx-post="{% if workflowstep %}{% url 'ui:workflowstep-edit' view.kwargs.workflow_pk workflowstep.pk %}{% else %}{% url 'ui:workflowstep-create' view.kwargs.workflow_pk %}{% endif %}"
          hx-target="#form-modal"
          hx-swap="outerHTML"
          enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {% render_field form.name class="form-control" placeholder=form.name.label %}
            <div class="text-danger">{{ form.name.errors }}</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="{{ form.function.id_for_label }}">{{ form.function.label }}</label>
            {% render_field form.function class="form-select" aria-label=form.function.label %}
            <div class="text-danger">{{ form.function.errors }}</div>
        </div>
        <div class="mb-3" id="function-parameters">{{ parameter_form }}</div>
        <div>{{ form.non_field_errors }}</div>
        <div>{{ form.workflow }}</div>
        <div>{{ form.next }}</div>
    </form>
{% endblock modal_content %}
{% block modal_footer %}
    <button class="btn btn-primary" type="submit" form="step-form" value="Save">Save</button>
{% endblock modal_footer %}
