{% extends "partials/modal.html" %}
{% load widget_tweaks %}
{% block modal_title %}
    Workflow
{% endblock modal_title %}
{% block modal_content %}
    <form id="workflow-form"
          method="post"
          hx-post="{% if workflow %}{% url 'ui:workflow-update' workflow.id %}{% else %}{% url 'ui:workflow-create' %}{% endif %}"
          hx-target="#form-modal"
          hx-swap="outerHTML">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
            {% render_field form.name class="form-control" placeholder=form.name.label %}
        </div>
        {{ form.name.errors }}
        <div class="mb-3">
            <label for="{{ form.description.id_for_label }}" class="form-label">{{ form.description.label }}</label>
            {% render_field form.description class="form-control" placeholder=form.description.label %}
        </div>
        {{ form.description.errors }}
        <input type="hidden"
               name="environment"
               value="{{ request.session.environment_id }}"/>
        {{ form.non_field_errors }}
    </form>
{% endblock modal_content %}
{% block modal_footer %}
    <button class="btn btn-primary" type="submit" form="workflow-form">
        {% if workflow %}
            Save
        {% else %}
            Next
        {% endif %}
    </button>
{% endblock modal_footer %}
