{% extends "base.html" %}
{% block content %}
    <div id="build_detail"
         hx-swap-oob="true"
         {% if not completed %} hx-get="{% url 'ui:build-detail' build.id %}?poll=true" hx-trigger="every 15s"{% endif %}>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'ui:build-list' %}">Build List</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ build.package.render_name }}</li>
            </ol>
        </nav>
        <div class="hstack gap-3 pt-2 pb-4">
            <h1>
                <i class="fa fa-wrench"></i>
                {{ build.package.render_name }}
            </h1>
            <div>
                <i class="fa fa-circle-info"></i>
                <span class="fs-5">{{ build.status }}</span>
            </div>
        </div>
        <div class="vstack gap-2 py-2">
            <div>
                <strong class="fs-4"><i class="fa fa-user fa-sm fa-fw pe-1"></i>Creator</strong>
                <p class="ps-4 py-2">
                    {{ build.creator.first_name }} {{ build.creator.last_name }} <span class="text-muted">({{ build.creator.username }})</span>
                    at {{ build.created_at }}
                </p>
            </div>
            {% if build.updated_at %}
                <div>
                    <strong class="fs-4"><i class="fa fa-clock-rotate-left fa-sm fa-fw pe-1"></i>Last Updated</strong>
                    <p class="ps-4 py-2">{{ build.updated_at }}</p>
                </div>
            {% endif %}
            {% if build_log.log %}
                <div>
                    <strong class="fs-4"><i class="fa fa-book fa-sm fa-fw pe-1"></i>Build Log</strong>
                    <div class="ps-4">
                        <div class="form-switch py-3">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="wrap"
                                   role="switch"
                                   id="wrap-toggle"
                                   checked/>
                            <label class="form-check-label" for="wrap-toggle">Wrap text</label>
                        </div>
                        <pre class="py-1 font-monospace">{{ build_log.log }}</pre>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
