{% extends "base.html" %}
{% block content %}
    <div>
        {% for build in object_list %}
            <div class="block">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon is-large">
                                    <i class="fa fa-2x fa-wrench"></i>
                                </span>
                            </div>
                            <div class="media-content">
                                <a href="{% url 'ui:build-detail' build.id %}">
                                    <p class="title is-4">{{ build.package }}</p>
                                </a>
                                <p class="subtitle is-6">
                                    <span class="is-size-6 has-text-weight-normal">Status: {{ build.status }}</span>
                                    <br/>
                                    <span><i class="fa fa-user"></i>&nbsp;{{ build.creator.username }}</span>
                                    <br/>
                                    <span class="is-size-6 has-text-weight-normal">(Created at {{ build.created_at }})</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
