:root {
    --breadcrumbs-fg: #FFFFCC;
}
.admin-header {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}
.admin-header img {
    /* Filter to convert the white to yellow. Calculation from: https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(22%) sepia(46%) saturate(585%) hue-rotate(6deg);
}
.deletelink-box:not(:last-child) {
    margin-bottom: 0em;
    box-sizing: content-box;
}
.module h2 {
    text-transform: capitalize;
}
#branding {
    width: 100%;
}
#nav-sidebar tr > * {
    padding: 10px;
}
#nav-filter {
    display: none;
}
td.original {
    display: none;
}
th.original {
    display: none;
}
td.delete::before {
    all: revert;
}
td.delete::after {
    all: revert;
}
tr.form-row td.delete {
    all: revert;
}
a.cancel-link {
    box-sizing: content-box;
}