.functionary-title {
    margin-left: -1rem;
}
.top-right-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.environment-select {
    border: none;
    background: none;
    color:white;
    font-size:1em;
}
.environment-select * {
    color: black;
}
.errorlist > li {
    color: red;
}
.errors {
    color: red;
}
.wrap-json {
    display: block;
    white-space: pre;
    margin: 0px;
}
.missing-variables > ul {
    list-style: inside;
}
tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
}
body div aside {
    max-width: fit-content;
}