.logo-blue {
    filter: brightness(0) saturate(100%) invert(29%) sepia(87%) saturate(1396%) hue-rotate(214deg) brightness(88%) contrast(80%);
}
.functionary-logo {
    margin-bottom: -1px;
    margin-right: -1rem;
}
.functionary-title {
    margin-left: -1rem;
}
.top-right-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.environment-select {
    border: none;
    background: none;
    color:white;
    font-size:1em;
}
.environment-select * {
    color: black;
}
.errorlist > li {
    color: var(--bs-text-danger);
}
.errors {
    color: var(--bs-text-danger);
}
/* the :has() must be user enabled to work on firefox */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:has#browser_compatibility */
div:has(input[type="checkbox"][name="wrap"]:not(:checked)) ~ pre {
    white-space: pre;
}
#status-color[title="PENDING"]{
    color: var(--bs-info);
}
#status-color[title="ACTIVE"]{
    color: var(--bs-success);
}
#status-color[title="PAUSED"]{
    color:  var(--bs-warning-text);
}
#status-color[title="ERROR"]{
    color: var(--bs-danger);
}
#status-color[title="ARCHIVED"]{
    color: var(--bs-dark);
}
.wrap-json,
pre {
    overflow-x: auto;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.missing-variables > ul {
    list-style: inside;
}
tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
}
body div aside {
    max-width: fit-content;
}

/* table sorting indicators */
th.asc::after,
th.desc::after {
    font-family: var(--fa-style-family,"Font Awesome 6 Free");
    color: var(--bs-primary);
    font-size: 0.75em;
    line-height: .05em;
    padding-left: .5em;
}
th.asc::after {
    content: '\f077';    /* chevron-up */
}
th.desc::after {
    content: '\f078';    /* chevron-down */
}
